.frame.about
  .title
    .content
      .star-left
      .page-name
        Quienes Somos
      .star-right
    .clear
  .mid.about
    .left
      .text
        = @about_page.text.html_safe if @about_page.text
    .clean
