.home-photo
  #s3slider
    %ul{:id => "s3sliderContent"}
      - @home_photos.each do |hp|
        %li.s3sliderImage
          = image_tag(hp.photo.url(:home))
          %span
        .clear.s3sliderImage
.clear
.modules
  .module
    %div 
      = image_tag "home-module-1.png"
      .clean
    %a{:href => index_path("listas-de-casamiento"), :class=>"module-a"} 
      Lista de Casamientos
    .clean
  .module
    %div 
      = image_tag("home-module-2.png")
      .clean
    %a{:href => "#"}
      Novedades
      %br
      (Próximamente)
    .clean
  .module.last
    %div 
      = image_tag("home-module-3.png")
      .clean
    %a{:href => "#"}
      Tus Regalos personalizados
      %br
      (Próximamente)
    .clean
.clear

:javascript
  $(document).ready(function() { 
    $('#s3slider').s3Slider({
        timeOut: 2000
    });
  });
