.home-photo
  =# image_tag @home_photos.first.photo.url(:home)
.clear
.modules
  .module
    = image_tag "home-module-1.png"
    Lista de Casamientos
  .module
    = image_tag "home-module-2.png"
    Novedades
  .module.last
    = image_tag "home-module-3.png"
    Tus Regalos personalizados
.clear