- if @event == "home"   
  .center
    = render :partial => "home"
- elsif @event == "contacto"    
  .center
    = render :partial => "contact"
- elsif @event == "quienes-somos"    
  .center
    = render :partial => "about"    
- elsif @event = "hogar" || @event = "bazar" || @event = "petit"
  = render :partial => "site_sections"